[defaults]
inventory            = inventory/hosts.ini
roles_path           = roles
collections_path     = collections
vault_password_file  = ~/.ansible/vault_pass_cumples
interpreter_python   = /usr/bin/python3
host_key_checking    = True
retry_files_enabled  = False
display_skipped_hosts = False
forks                = 10

[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s -o PasswordAuthentication=yes
